.carousel-container {
  margin-top: 20px; /* Add space between the carousel and the header */
  padding-left: 20px; /* Add space on the left edge */
  padding-right: 20px; /* Add space on the right edge */
  max-width: 100%; /* Ensure the carousel doesn't overflow */
}

.carousel {
  width: 100%;
  height: 525px; /* Set a height for the carousel images */
  overflow: hidden;
  position: relative;
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
  display: flex;
  transition: transform 1s ease-in-out; /* Smooth slide transition */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits the container while maintaining its aspect ratio */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(250%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color change */
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darken the background on hover */
  color: #fff; /* Keep the text color white */
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.indicator.active {
  background-color: #000000;
}