.carousel-container {
  margin-top: 0px;
  margin-bottom: -15px;
  padding: 0 20px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track-wrapper {
  overflow: hidden;
  width: 100%;
  height: auto;
  aspect-ratio: 25 / 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.carousel-image {
  min-width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  flex-shrink: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  padding: 0 10px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.arrow:hover {
  opacity: 1;
}

.arrow.left {
  left: 50px;
}

.arrow.right {
  right: 50px;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.indicator.active {
  background-color: #000;
}