footer {
    background-color: #ebe9e9;
    padding: 20px;
  }
  
  .social-media-icon {
    font-size: 30px;
    color: #333;
  }
  
  .social-media-icon:hover {
    color: #4E0B12;
  }
  
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .d-flex img {
    margin-right: 10px;
  }
  